<%- include('partials/header.ejs') %>
<%- include('partials/nav.ejs') %>

<main>
    <div class="container">
        <div class="myprofile-box">
            This is my profile info.
            <br>
            This is password-protected.
    </div>
</main>

<%- include('partials/footer.ejs') %>